// First
$max-width: 1600px;

// Font Family
$font-family-roboto: "Roboto Slab", serif;
$font-family-raleway: "Raleway", sans-serif;

// Font Size
$font-size: 16px;
$font-size-large: 18px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$font-size-menu: 20px;

// Text Color
$color-black: #131414;
$color-dark: #343434;
$color-gray: #666666;
$color-light-gray: #808080;
$color-green: #7dba84;

// Background Primary Color
$background-orange: #f08d19;
$background-yellow: #f7d10d;
$background-blue: #007aff;
$background-red: #f70916;
$background-green: #26d748;

// Background Secondary Color
$background-midnight-green: #074f57;
$background-iguana-green: #7dba84;
$background-champagne: #f7ecca;
$background-jelly-bean: #e25b4f;
$background-golden-poppy: #f4c107;
$background-onyx: #383838;
$background-cerulean-frost: #6d98ba;
$background-magnolia: #f9f2ff;
$background-antique-fuchsia: #995b7d;
$background-boston-uni-red: #d00000;
$background-gray: #f9f9f9;
$background-header1: #f9f2ff;
$background-black: #131414;

// Gutter
$gutter05: 5px;
$gutter10: 10px;
$gutter20: 20px;
$gutter30: 30px;
$gutter40: 40px;
$gutter50: 50px;
$gutter60: 60px;
$gutter70: 70px;

// Icon color
$icon-color: #808080;
$icon-color-black: #131414;

// Border-Radius
$border-radius: 10px;

// Border-Color
$border-color1: #70707050;
