#Header9 {
  border-bottom: 1px solid $border-color1;
  background-color: white;
  height: 80px;
  @include mq("desktop") {
    height: 280px;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include mq("desktop") {
      height: 180px;
    }
  }
  .Header-top {
    background-color: $background-black;
    height: 100px;
    width: 100%;
    display: none;
    @include mq("desktop") {
      display: block;
    }
    .container {
      display: flex;
      flex-direction: row;
      height: 100%;
    }
    .top-left-menu {
      display: flex;
      align-items: center;
      flex: 1;
      .breaking {
        background-color: $background-red;
        color: white;
        padding: $gutter10 $gutter20 $gutter10 $gutter20;
        font-weight: 700;
      }
      p {
        margin-left: $gutter20;
        color: white;
      }
    }
    .top-right-icon {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      .icon {
        color: white;
        width: 1.5em;
        height: 1.5em;
      }
      .icon + .icon {
        margin-left: $gutter20;
      }
    }
  }
  .logo {
    flex: 1;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    @include mq("desktop") {
      height: 100%;
    }
    img {
      width: 200px;
      @include mq("desktop") {
        width: 220px;
        height: 70px;
      }
    }
  }
  .menu {
    @include mq("desktop") {
      height: 80px;
    }
    .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      @include mq("desktop") {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
      .active {
        background-color: $background-red;
        color: white;
        padding: $gutter10 $gutter20 $gutter10 $gutter20;
      }
    }
    a {
      padding-bottom: $gutter05;
      border-bottom: 1px solid $border-color1;
      width: 100%;
      @include mq("desktop") {
        border: 0px;
        padding-bottom: 0px;
        width: max-content;
      }
    }
    a + a {
      margin-top: $gutter20;
      @include mq("desktop") {
        margin-top: 0px;
      }
    }
  }
  .icon {
    margin-top: 20px;
    @include mq("tablet") {
      margin-top: 0;
    }
  }
}
#Header9.menu-show .menu {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
