#Header3 {
  background-color: $background-header1;
  height: 80px;
  @include mq("desktop") {
    height: 320px;
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include mq("desktop") {
      align-items: center;
      flex-direction: column;
    }
  }
  .logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 200px;
      @include mq("desktop") {
        width: 310px;
        height: 100px;
      }
    }
  }
  .menu-list {
    position: relative;
  }
  .menu {
    border: 0px;
    @include mq("desktop") {
      border-top: 1px solid $border-color1;
    }
    a {
      padding-bottom: $gutter05;
      border-bottom: 1px solid $border-color1;
      @include mq("desktop") {
        border: 0px;
        padding-bottom: 0px;
      }
    }
    a + a {
      margin-top: $gutter20;
      @include mq("desktop") {
        margin-top: 0px;
      }
    }
    .icon {
      position: absolute;
      right: 0;
      display: none;
      @include mq("desktop") {
        display: block;
      }
    }
  }
}
#Header3.menu-show .menu {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
