#Header1 {
  background-color: $background-header1;
  height: 80px;
  @include mq("desktop") {
    height: 220px;
  }
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .logo {
    flex: 1;
    justify-content: flex-start;
    img {
      width: 200px;
      height: 65px;
    }
  }
  .menu {
    a {
      padding-bottom: $gutter05;
      border-bottom: 1px solid $border-color1;
      @include mq("desktop") {
        border: 0px;
        padding-bottom: 0px;
      }
    }
    a + a {
      margin-top: $gutter20;
      @include mq("desktop") {
        margin-top: 0px;
      }
    }
  }
  .icons {
    margin-top: 20px;
    @include mq("tablet") {
      margin-top: 0;
    }
  }
}
#Header1.menu-show .menu {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
