#Header4 {
  background-color: $background-gray;
  height: 80px;
  @include mq("desktop") {
    height: 180px;
  }
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .logo {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 200px;
      @include mq("desktop") {
        width: 300px;
        height: 70px;
      }
    }
  }
  .icons {
    display: flex;
    flex: 0;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    .icon {
      width: 1.5em;
      height: 1.5em;
    }
    .icon + .icon {
      margin-left: $gutter30;
      @include mq("desktop") {
        margin-left: $gutter60;
      }
    }
  }
}
